* {
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: #e9f2fc;
}

.mainContainer {
	width: 1000px;
	height: 600px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contentBox {
	width: 50%;
	height: 100%;
	background-color: #2b3445;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formBox {
	width: 50%;
	height: 100%;
	padding: 40px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.formBox form {
	width: 100%;
}

.heading {
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #555;
	margin-bottom: 20px;
}

.heading span{
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1050px) {
    .mainContainer{
        width: calc(100% - 50px);
    }

    .formBox {
        width: 45%;
    }

    .contentBox {
        width: 55%;
    }
}

@media (max-width: 900px) {
    .mainContainer{
        width: calc(100% - 100px);
    }
    
    .contentBox{
        display: none;
    }

    .formBox{
        width: 100%;
    }
}