.profileContainer {
	padding: 30px 100px;
	.innerContainer {
		display: flex;
		justify-content: space-between;
		padding: 0 100px;
		width: 100%;

		h3 {
			font-size: 1.25rem;
			color: #555;
			font-weight: 600;
			padding: 0;
			margin: 0;
            margin-bottom: 10px;
		}

		form {
			display: flex;
			align-items: flex-end;
		}

		.inputContainer {
			width: 300px;
			margin-bottom: 50px;
            margin-left: 20px;

			.inputLabel {
				font-size: 0.875rem;
				color: #555;
				font-weight: 600;
				padding: 0;
				margin: 0;
			}

            .submit {
                color: white;
                margin-left: 20px;
            }
		}

		.emailContainer {
			form {
				display: flex;
				align-items: flex-end;

				.inputContainer {
					width: 300px;

					.inputLabel {
						font-size: 0.875rem;
						color: #555;
						font-weight: 600;
						padding: 0;
						margin: 0;
					}

					.submit {
						color: white;
						margin-left: 20px;
					}
				}
			}
		}
	}
}

/* .sidebar_account{
    display: block;
    float: left;
    position: absolute;
    width: 30%;
    background-color: aliceblue;
    padding: 2% 1%;
    margin: 3px 0px;
    top: 75px;
    bottom: 0px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: large;
}
.profile{
    display: block;
    float: right;
    width: 70%;
    padding: 1%;
    margin: 3px 0px;
}
.sidebar_account a{
    color: #0b4164;
    display: block;
    padding: 1em;
    border-radius: 10px;
}

.sidebar_account a:hover{
    background-color: rgb(151, 187, 218);
}

.sidebar_account .current{
    background-color: #0b4164;
    color: aliceblue;
    display: block;
}

.sidebar_account .logout{
    color: rgb(231, 80, 80);
    display: block;
}
.sidebar_account .logout:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(231, 80, 80);
    display: block;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: bold;
}

 input{
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
} 

input:read-only{
    background-color: rgb(182, 196, 233);
}

input[type=submit]{
    background-color: #0b4164;
    color: aliceblue;
}

input[type=submit]:hover{
    background-color: rgb(151, 187, 218);
} */
