@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.item
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

    img
    {
        width: 120px;
        height:120px;
        margin: 25px;
        margin-bottom: 0;
    }

    .info 
    {
        margin: 10px;

        h2{
            margin-top: 0;
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }

        p{
            margin: 10px 0;
            display: block;
            color:#878787;
            font-size:1em;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        .qty {
            
            display: inline-block;

            button{
                display: inline-block;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                cursor: pointer;
                font-size: 1em;
                background-color: #5c8ec6;
                margin: 0px;
            }

            .num{
                display: inline-block;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                width: 46px;
                height: 28px;
                border-radius: 2px;
                border: 1px solid #5c8ec6;
                text-align: center;
                margin: 0 5px;
            }
        }

        .remove{
            cursor: pointer;
            margin: 30px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.2em;

            &:hover{
                color:#A37A74;
            }
        }
    }

    .price{
        display: flex;
        margin-left: auto;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.5em;
    }
    
}
